<form method="POST" class="form" id="delete_form" action="<%= action %>">
    <div class="form-control">
        <label>Are you sure you want to delete <%= object %>?</label>
    </div>
    <button type="button" onclick="return <%= onclick %>">Delete</button>
</form>

