<%- include('head.ejs'); %>
<main>
    <%- include('folderTree.ejs'); %>
    <div class="middle-place" id="middle_place">
        <div class="main-code" id="code">
            Tekst programu
        </div>
        <div class="main-fragment" id="fragment">
            Fragment programu
        </div>
    </div>
    <%- include('tabs.ejs'); %>
</main>
<%- include('end.ejs'); %>